:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: transparent;
}

#app {
  width: 100%;
}



.text-box {
  background-color: #FFF9F0;
  border: 1px solid #99B292;
  padding: 4rem 5rem;
  margin: 0 auto;
  max-width: 580px;
}

.text-box p {
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.7;
  color: #163F00;
  margin: 0;
}

.text-box p+p {
  margin-top: 30px;
}